<!DOCTYPE html>
<html lang="en-US" dir="ltr">
@await Component.InvokeAsync("_UILayoutHead")

<body class="layout-column bg-dark">

    @await Component.InvokeAsync("_UILayoutNavbar")

    <div id="main" class="layout-row flex">
        <div id="content" class="flex">
            @RenderBody()
        </div>
    </div>

    @await Component.InvokeAsync("_UILayoutFooter")
    @await Component.InvokeAsync("_UILayoutScript")
    @RenderSection("Scripts", required: false)
</body>
</html>